/* Navigation */
#navbar{
    flex-direction: column;
}
/* Home */
#home{
    flex-direction: column;
    height:280px;
}
#home::before{
    flex-direction: column;
    height:370px;
}

#home p{
    font-size: 13px;
}
/* Services */
#services{
    flex-direction: column;
}
#services .box{
    flex-direction: column;
}
/* client */
#clients{
    overflow: hidden;
}
/* contact us */
/* footer */
/* uitility */
.h-primary{ 

}